*.suo
*.dll
*.pdb
*.exe
*.xml
*.pvr
*.assets
*.bin
*.lib
*.exp
*.til
*.nam
*.id1
*.id0
*.ldf
*.mdf
Unreal.FGO.Console/bin/
Unreal.FGO.Console/obj/
Unreal.FGO.WebApi/*.json
Disunity/obj/
*.user
AssetsToolsWrapper/AssetsToolsWrapper/Release/
Unreal.FGO.Core/obj/
ipch/
obj/
Release/
Debug/
*.db
*.opendb
*.nupkg
AssetsToolsWrapper/AssetsToolsWrapper/Debug/
Disunity/bin/
Debug/
.vs/
Unreal.FGO.Manage/node_modules/
packages/